CMakeLists.txt.user
CMakeCache.txt
Testing
install_manifest.txt
compile_commands.json
_deps
cmake_build_debug
cmake-build-release
cmake-build-debug/external/nanogui/*
.idea/*
*.xml
outputs/*
*.pc
cmake-build-debug/external/nanogui/nanogui_resources.cpp
build/
diffcloth_py.egg-info/
dist/
.vscode/
__pycache__/
